/* From Uiverse.io by barisdogansutcu */ 
.bot {
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    border: solid 1px #fce408;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
    padding-left: 20px ;
    padding-right: 20px ;
    
  }
  
  .bot:hover {
    
    background-image: linear-gradient(to right,  #fce408, #ff8c00 );
    color: black;
    box-shadow:  #fce408 0px 7px 29px 0px;
  }
  
  .bot:active {
    
    background-color:  #fce408;
    color: hsl(0, 0%, 100%);
    box-shadow:  #fce408 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
  }
.butto2 {
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    border: solid 1px white;
    background-color: transparent;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
    padding-left: 20px ;
    padding-right: 20px ;
    color: white;
    font-weight: 450;
  }
  
  .butto2:hover {
    
    background-image: linear-gradient(to right,  #fce408, #ff8c00 );
    color:white;
    font-weight: 450;
  
  }
  
  .butto2:active {
    
    background-image: linear-gradient(to right,  #fce408, #ff8c00 );
    color: hsl(0, 0%, 100%);
    
    transform: translateY(10px);
    transition: 100ms;
  }
  



  /* From Uiverse.io by ercnersoy */ 


.card {
border-radius: 20px;
}

.nill{
  transition: all .5s ease-in-out;
 
  
}
.nill:hover{
  transform: translateY(-5px);
  transition: all .5s ease-in-out;
  box-shadow: #fce408;
  background: yellow;
}

.main {
  display: flex;
  justify-content: center;
  background-color:#FFCC00;
  align-items: center;
}





/* From Uiverse.io by Spacious74 */ 
.bgblue {
  
  padding: 9px;
  border-radius: 10px;
  box-shadow: 0px 1rem 1.5rem -0.9rem white;
  max-width: 300px;
  border-style: solid;
  border-width: 1px;
  transition: all 0.5s;
}
.bgblue:hover{
  border: 1px solid black;
  transform: scale(1.05);
  border-radius: 10px;
 box-shadow: #FFCC00;
}
.nii{
  font-size: 1rem;
  color: #bec4cf;
  background: linear-gradient(135deg, #0d1120 0%, #001F3F 43%, #0d1120 100%);
  padding: 1.5rem;
  border-radius: 10px;
  transition: all 0.5s;
}

.nii:hover{
  border: 1px solid black;
  transform: scale(1.05);
  border-radius: 10px;
}
.nii:active {
  transform: scale(0.95) rotateZ(1.7deg);
}


.bo {
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  border: solid 1px #fce408;
  background-image: linear-gradient(to right,  #fce408, #ff8c00 );
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
  padding-left: 20px ;
  padding-right: 20px ;
  
}

.bo:hover {
  
 
  color: black;
  box-shadow:  #fce408 0px 7px 29px 0px;
}

.bo:active {
  
  background-color:  #fce408;
  color: hsl(0, 0%, 100%);
  box-shadow:  #fce408 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}



/* From Uiverse.io by Artahs */ 
.blow {
  position: relative;
  width: 100%;
  height: 254px;
  background-color: #fff;
  border-radius: 20px;
  /*box-shadow: 0px 5px 5px #313131;*/
  overflow: hidden;
}

.top-blow {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 65%;
  transition: height 0.3s ease;
  background-color: #fff;
}

.bottom-blow {
  
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  height: 35%;
  transition: height 0.3s ease;
  background-color: #212533dc;
}



.blow-content {
  padding-top: 13%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.blow-title {
  font-weight: 700;
  font-size: 15px;
}
.blow-txt {
  font-size: 14px;
}

.blow-btn {
  font-size: 13px;
  text-decoration: none;
  color: white;
  background-color: transparent;
  border: solid 2px #fff;
  border-radius: 15px;
  padding: 1%;
}

.blow:hover {
  box-shadow: 0px 2px 2px #0a3bffa1;
  border: solid 1px #0a3cff;
}

.blow:hover .top-blow {
  height: 35%;
  transition: height 0.3s ease;
}
.blow:hover .bottom-blow {
  height: 65%;
  transition: height 0.3s ease;
}
.blow:hover .bottom-blow::before {
  bottom: 164px;
  transition: bottom 0.3s ease;
}

.blow-btn:hover {
  color: black;
  background-color: #fff;
  transition: background-color 0.4s ease;
}
